{{navbar_enabled=True}}
{{extend 'layout.html'}}

<div class="page-header">
  <h1>Choose Analysis Input</h1>
</div>

<p class="text-error lead">{{=err_msg}}</p>

<form enctype="multipart/form-data" 
    action="{{=URL('confirm_analysis_inputs')}}" method="post">
    <legend>Please select a BAM file from Project {{=project_name}}:</legend>
    {{for file in file_info:}}
        <label class="radio">
            <input type="radio" name="file_choice" id="{{=file['file_name']}}" value="{{=file['app_result_num']}},{{=file['file_num']}}">
            {{=file['file_name']}}
        </label>
    {{pass}}
    <br/>
    <button type="submit" class="btn btn-primary btn-large">Next...</button>
</form>
