{{navbar_enabled=True}}
{{extend 'layout.html'}}

<p><small><a href="{{=ar_back}}"><i class="icon-arrow-left"></i> Choose AppResult</a></small></p>

<h2>Choose File</h2>

<p class="text-error lead">{{=err_msg}}</p>

<! -- check that 1 or more BAM files are present in this AppResult -->
    {{if not file_info:}}
<p>There are no BAM files in AppResult <a href="{{=ar_back}}">'{{=app_result_name}}'</a>.</p>
    {{else:}}

<form enctype="multipart/form-data" 
    action="{{=URL('confirm_analysis_inputs')}}" method="get">
        <h4>Please select a BAM file from AppResult '{{=app_result_name}}':</h4>
                    
    <! -- pre-check first radio button -->    
    {{ first = 0 }}
    {{for file in file_info:}}
        <label class="radio">
            <input type="radio" name="file_num" id="{{=file['file_name']}}" class="{{=file['large_file']}}" value="{{=file['file_num']}}" {{ if first == 0:}}checked{{pass}}>
            {{=file['file_name']}}
            {{ first+=1 }}
        </label>
    {{pass}}
    <input type="hidden" name="ar_num" value="{{=ar_num}}">
    <input type="hidden" name="file_back" value="{{=file_back}}">
    
    <br/>
    <button type="submit" class="btn btn-primary">Next...</button>
</form>

{{pass}}

<!-- large file modal window -->
<div id="large_file_modal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>That's a big file you have there.</h3>
  </div>
  <div class="modal-body">
    <p>Please choose files that are less than 5 GB.</p>
  </div>
  <!-- <div class="modal-footer">
    <a href="#" class="btn">OK</a>    
  </div>
  -->
</div>


<!-- display large file modal window for large files -->
<script>
$("form").submit(function() {
    if ($("input:checked").hasClass("large_file")) {
        $('#large_file_modal').modal('show');
        return false;
    }           
    return true;    
});
</script>
