{{navbar_enabled=True}}
{{extend 'layout.html'}}

<p><small><a href="{{=URL('choose_analysis_app_result', vars=dict(ar_offset=ar_offset, ar_limit=ar_limit))}}"><i class="icon-arrow-left"></i> Choose AppResult</a></small></p>

<div class="page-header">
  <h1>Choose File</h1>
</div>

<p class="text-error lead">{{=err_msg}}</p>

<! -- check that 1 or more BAM files are present in this AppResult -->
    {{if not file_info:}}
<p>There are no BAM files in AppResult <a href="{{=URL('choose_analysis_app_result', vars=dict(ar_offset=ar_offset, ar_limit=ar_limit))}}">'{{=app_result_name}}'</a>.</p>
    {{else:}}

<form enctype="multipart/form-data" 
    action="{{=URL('choose_writeback_project')}}" method="post">
        <legend>Please select a BAM file from AppResult '{{=app_result_name}}':</legend>
                    
    <! -- pre-check first radio button -->    
    {{ first = 0 }}
    {{for file in file_info:}}
        <label class="radio">
            <input type="radio" name="file_choice" id="{{=file['file_name']}}" value="{{=file['app_result_num']}},{{=file['file_num']}}" {{ if first == 0:}}checked{{pass}}>
            {{=file['file_name']}}
            {{ first+=1 }}
        </label>
    {{pass}}
    <br/>
    <button type="submit" class="btn btn-primary">Next...</button>
</form>

{{pass}}
