{{navbar_enabled=True}}
{{extend 'layout.html'}}

<div class="container">

  <p><small><a href="{{=file_back}}"><i class="icon-arrow-left"></i> Choose File</a></small></p>
  
  <p class="text-error lead">{{=err_msg}}</p>
  
  <form enctype="multipart/form-data"
      action="{{=URL('create_writeback_project')}}" method="post">
    <legend>Would you like to analyze this Sample?</legend>
    <label>Sample: {{=sample_name}}</label>
    <label>File: {{=file_name}}</label>
    <label>Project: {{=project_name}} 
      {{ if writeback_msg != "": }}
        <small><a href="#" data-toggle="collapse" data-target="#writeback">(see details)</a></small>
      {{pass}}
    </label>        
    <label>New AppResult name:</label>
    <input type="text" name="ar_name" value="Picard Aln Metrics for {{=sample_name}}" />

    <input type="hidden" name="ar_num" value="{{=ar_num}}">
    <input type="hidden" name="file_num" value="{{=file_num}}">
    
    <br/>
    <button type="submit" class="btn btn-primary btn-large">Launch Analysis</button>
  </form>

  <div id="writeback" class="collapse text-info">{{=writeback_msg}}</div>   


</div> 

