{{navbar_enabled=True}}
{{extend 'layout.html'}}

<div class="container">

  <p><small><a href="{{=file_back}}"><i class="icon-arrow-left"></i> Choose File</a></small></p>
  
  <p class="text-error lead">{{=err_msg}}</p>
  
  <form enctype="multipart/form-data"
      action="{{=URL('start_billing')}}" method="post">
  	<input type="hidden" name="ar_num" value="{{=ar_num}}">
    <input type="hidden" name="file_num" value="{{=file_num}}">
      
    <h4>Would you like to analyze this Sample?</h4>
    
    <div class="row">
    	<span class="span5">
	    	<table class="table table-bordered table-striped">
	    	<tr>
	    		<th>Sample:</th>
	    		<td>{{=sample_name}}</td>
	    	</tr>
	    	<tr>
	    		<th>File:</th>
	    		<td>{{=file_name}}</td>
	    	</tr>
	    	<tr>
	    		<th>Genome:</th>
	    		<td>{{=genome_name}}</td>
	    	</tr>
	    	<tr>
	    		<th>Paired-end:</th>
	    		<td>{{=is_paired_end}}</td>
	    	</tr>
	    	<tr>
	    		<th>Output Project:</th>
	    		<td>
	    		{{=project_name}} 
			      {{ if writeback_msg != "": }}
			        <small><a href="#" data-toggle="collapse" data-target="#writeback">(see details)</a></small>
			      {{pass}}</td>
	    	</tr>
	    	<tr>
	    		<th>New AppResult name:</th>
	    		<td>
	    			<input type="text" name="ar_name" value="Picard Aln Metrics for {{=sample_name}}" />
	    		</td>
	    	</tr>
	    	<tr>
	    		<th>Price before tax:</th>
	    		{{if free_trial:}}
	    		    <td class="text-info"><strong><em>FREE trial</em></strong></td>
                {{else:}}	    		    
	    		    <td>{{=price}} {{ if price == 1: }}iCredit{{ else: }}iCredits{{pass}}</td>
	    		{{pass}}
	    	</tr>
	    </table>
	    
    	</span>
    </div>
    <div class="row">
    
    	<span class="span5">
    	    <button type="submit" class="btn btn-primary btn-large">{{=confirm_msg}}</button>
    	</span>
   	</div>    
  </form>

  <div id="writeback" class="collapse text-info">{{=writeback_msg}}</div>   


</div> 

