{{navbar_enabled=True}}
{{extend 'layout.html'}}

<div class="page-header">
  <h1>Help</h1>
</div>

<h3>About PicardSpace</h3>
<p>PicardSpace is a sample application for <a href="{{=bs_url}}">BaseSpace</a> that calculates sequencing metrics with the open-source tool <a href="http://picard.sourceforge.net">Picard</a>.</p>

<h3>Analysis Failures</h3>
<p>If your free analysis failed, please try it again by launching again from <a href="{{=bs_url}}">BaseSpace</a>.</p>
<p>If your paid analysis failed, please contact Illumina technical support for assistance at <a href="mailto:TechSupport@illumina.com">TechSupport@illumina.com</a>.</p>
