{{navbar_enabled=True}}
{{extend 'layout.html'}}

<h2>Help</h2>
<hr/>
<h4>About PicardSpace</h4>
<p>PicardSpace is a sample application for <a href="{{=bs_url}}">BaseSpace</a> that calculates sequencing metrics with the open-source tool <a href="http://picard.sourceforge.net">Picard</a>.</p>
<hr/>
<h4>Example Data</h4>
<p>To test-drive PicardSpace for free, try analyzing a sample in the <a href="https://basespace.illumina.com/s/31oPTIRVFBXk">BaseSpace Demo Project.</a></p>
<hr/>
<h4>Analysis Failures</h4>
<p>Sometime it happens -- your analysis fails. We apologize if this happens.</p>
<p>If your free analysis failed, please try it again by launching from <a href="{{=bs_url}}">BaseSpace</a>.</p>
<p>If your paid analysis failed, we attempt to automatically refund your purchase. However, sometimes this isn't possible. If your analysis doesn't show 'Purchase Refunded' in the notes section of the view results screen, then please contact Illumina technical support for assistance at <a href="mailto:TechSupport@illumina.com">TechSupport@illumina.com</a>.</p>
