{{navbar_enabled=True}}
{{extend 'layout.html'}}

<h2>Help</h2>
<hr/>
<h4>About PicardSpace</h4>
<p>PicardSpace is a sample application for <a href="{{=bs_url}}">BaseSpace</a> that calculates sequencing metrics with the open-source tool <a href="http://picard.sourceforge.net">Picard</a>.</p>
<hr/>
<h4>Analysis Failures</h4>
<p>If your free analysis failed, please try it again by launching again from <a href="{{=bs_url}}">BaseSpace</a>.</p>
<p>If your paid analysis failed, please contact Illumina technical support for assistance at <a href="mailto:TechSupport@illumina.com">TechSupport@illumina.com</a>.</p>
