{{navbar_enabled=False}}
{{extend 'layout.html'}}
<br/>
<div class="hero-unit">
  <h1>{{=main_msg}}</h1>
  <p>{{=scnd_msg}}</p>  
    <br/>
  <p><small>PicardSpace is a sample application for <a href="http://www.basespace.com">BaseSpace</a> that calculates sequencing metrics with the open-source tool <a href="http://picard.sourceforge.net">Picard</a>. Try out the App by launching it from <a href="http://www.basespace.com">BaseSpace</a>.</small></p>
  <br/>

<p><a class="btn btn-primary btn-large" href='{{=baseSpace_link}}'>Launch from BaseSpace</a></p>
<p><a class="btn btn-primary btn-large" href='{{=login_url}}'>View Results</a></p>
</div>
<p class="text-error">{{=err_msg}}</p>


{{if 'message' in globals():}}
{{=message}}
{{pass}}
<br/>
