<!-- Navbar ================================================== -->
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">        
        <a class="brand" href='index'><b>PicardSpace</b>&nbsp;</a>
        <ul class="nav">
              <li class="divider-vertical"></li>
              <li><a href='view_results'>Results</a></li>
              <li><a href='{{=auth.settings.logout_next}}'>BaseSpace</a></li>
              <li><a href='help_me'>Help</a></li>
        </ul>              
        <div class="pull-right">{{='auth' in globals() and auth.navbar(separators=(' ',' | ',''))}}</div>
      </div>
    </div>
  </div><!-- navbar -->
