{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<div class="page-header">
  <h1>Picard Alignment Metrics</h1>
    <dl class="dl-horizontal">
        <dt>AppResult</dt>
        <dd>{{=app_result_name}}</dd>
        <dt>Source Sample</dt>
        <dd>{{=sample_name}}</dd>
        <dt>Source File</dt>
        <dd>{{=file_name}}</dd>
        <dt>Source Project</dt>
        <dd>{{=project_name}}</dd>
    </dl>    
</div>

<p class="text-error lead">{{=err_msg}}</p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Header
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        {{=hdr}}
      </div>
    </div>
  </div>
</div>


{{=TABLE(*[TR(*rows) for rows in aln_tbl], _class='table table-bordered table-striped')}}
