{{navbar_enabled=True}}
{{extend 'layout.html'}}

<p><small><a href="{{=URL('view_results')}}"><i class="icon-arrow-left"></i> AppResults</a></small></p>

<div class="page-header">
  <h1>Picard Alignment Metrics</h1>
    <dl class="dl-horizontal">
        <dt>Sample</dt>
        <!-- temporarily using unsupported link to Sample until API supports this -->
        <dd><a href="https://basespace.illumina.com/sample/{{=sample_num}}/{{=sample_name}}">{{=sample_name}}</a></dd>
    </dl>        
    <dl class="dl-horizontal">        
        <dt>Output AppResult</dt>
        <dd>{{=output_app_result_name}}</dd>
        <dt>Output Project</dt>
        <dd>{{=output_project_name}}</dd>
    </dl>
    <dl class="dl-horizontal">        
        <dt>Input File</dt>
        <dd>{{=input_file_name}}</dd>
        <dt>Input AppResult</dt>
        <dd>{{=input_app_result_name}}</dd>
        <dt>Input Project</dt>
        <dd>{{=input_project_name}}</dd>
    </dl>    
</div>

<p class="text-error lead">{{=err_msg}}</p>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Header
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        {{=hdr}}
      </div>
    </div>
  </div>
</div>


{{=TABLE(*[TR(*rows) for rows in aln_tbl], _class='table table-bordered table-striped')}}
