<!DOCTYPE html>
<head>
  <meta charset="utf-8" />

  <title>{{=response.title or request.application}}</title>

  <!-- http://dev.w3.org/html5/markup/meta.name.html -->
  <meta name="application-name" content="{{=request.application}}" />

  <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
  <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

  <!-- include stylesheets -->
  {{  
  response.files.append(URL('static','css/bootstrap.min.css'))
  response.files.append(URL('static','css/bootstrap-responsive.min.css'))
  response.files.append(URL('static','css/picardSpace.css'))
  }}
  
  {{include 'web2py_ajax.html'}}

  {{block head}}{{end}}    
</head>

<body>

  <div class="container">

      {{if navbar_enabled:}}
          {{include 'default/navbar.html'}}
      {{pass}}
      
    <section id="main" class="main">
        <div>
            {{block center}}
            {{include}}
            {{end}}
        </div>        
    </section><!--/main-->

  </div> <!-- /container -->

  <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>  
    
</body>
</html>
