{{left_sidebar_enabled,right_sidebar_enabled=False,False}}
{{extend 'layout.html'}}

<div class="container">

  <form enctype="multipart/form-data"
      action="{{=URL('get_auth_code')}}" method="post">
    <legend>Would you like to analyze this Sample?</legend>
    <label>Sample: {{=sample_name}}</label>
    <label>File: {{=file_name}}</label>
    <label>Project: {{=project_name}}</label>
    <label>Analysis name:</label>
    <input type="text" name="app_result_name" value="Picard Aln Metrics for {{=sample_name}}" />
    <br/>
    <button type="submit" class="btn btn-primary btn-large">Launch Analysis</button>
</form>

<!--
<b>{{=A(T("Analyze!"), _href=URL('get_auth_code'))}}</b>
-->
