{{navbar_enabled=True}}
{{extend 'layout.html'}}

<p><small><a href="{{=ar_back}}"><i class="icon-arrow-left"></i> AppResults</a></small></p>

  <h2>Picard Metrics</h2>
    <dl class="dl-horizontal">
        <dt>Sample</dt>
        <dd>{{=sample_name}}</dd>
        <!-- unsupported link to Sample until API supports this -->
        <!-- <dd><a href="https://basespace.illumina.com/sample/{{=sample_num}}/{{=sample_name}}">{{=sample_name}}</a></dd> -->        
    </dl>        
    <dl class="dl-horizontal">        
        <dt>Output AppResult</dt>
        <dd>{{=output_app_result_name}}</dd>
        <dt>Output Project</dt>
        <dd><a href="{{=output_project_href}}">{{=output_project_name}}</a></dd>
    </dl>
    <dl class="dl-horizontal">        
        <dt>Input File</dt>
        <dd>{{=input_file_name}}</dd>
        <dt>Input AppResult</dt>
        <dd>{{=input_app_result_name}}</dd>
        <dt>Input Project</dt>
        <dd><a href="{{=input_project_href}}">{{=input_project_name}}</a></dd>
    </dl>    

<p class="text-error lead">{{=err_msg}}</p>

<div class="row">
  <div class="span6">
    {{ if qual_by_cycle_pdf: }}
      <h4>Mean Quality Per Cycle</h4>
      <object data="{{=qual_by_cycle_pdf}}" type="application/pdf" class="pdf" width="1" height="1" style="height: 450px; width: 400px;">Please install a pdf plugin.</object>
      <p><small><a href="{{=qual_by_cycle_pdf}}">PDF</a> <a href="{{=qual_by_cycle_txt}}">TXT</a> <a href="{{=mult_metrics_stderr}}">LOG</a></small></p>
    {{pass}}
  </div>
  <div class="span6">
    {{ if qual_dist_pdf: }}
      <h4>Quality Distribution</h4>
      <object data="{{=qual_dist_pdf}}" type="application/pdf" class="pdf" width="1" height="1" style="height: 450px; width: 400px;">Please install a pdf plugin.</object>
      <p><small><a href="{{=qual_dist_pdf}}">PDF</a> <a href="{{=qual_dist_txt}}">TXT</a> <a href="{{=mult_metrics_stderr}}">LOG</a></small></p>
    {{pass}}
  </div>
</div>
<hr/>
<div class="row">
  <div class="span6">
    {{ if gc_bias_pdf: }}
      <h4>GC Bias Metrics</h4>
      <object data="{{=gc_bias_pdf}}" type="application/pdf" class="pdf" width="1" height="1" style="height: 450px; width: 400px;">Please install a pdf plugin.</object>
      <p><small><a href="{{=gc_bias_pdf}}">PDF</a> <a href="{{=gc_bias_txt}}">TXT</a> <a href="{{=gc_bias_summary}}">SUMMARY</a> <a href="{{=gc_bias_stderr}}">LOG</a></small></p>
    {{pass}}
  </div>
  <div class="span6">
    {{ if insert_size_hist: }}
      <h4>Insert Size Metrics</h4> 
      <object data="{{=insert_size_hist}}" type="application/pdf" class="pdf" width="1" height="1" style="height: 450px; width: 400px;">Please install a pdf plugin.</object>
      <p><small><a href="{{=insert_size_hist}}">PDF</a> <a href="{{=insert_size_txt}}">TXT</a> <a href="{{=mult_metrics_stderr}}">LOG</a></small></p>
    {{pass}}
  </div>
</div>

<hr/>
<h4>Alignment Metrics<small><a href="http://picard.sourceforge.net/picard-metric-definitions.shtml#AlignmentSummaryMetrics" target="_blank"> (metric definitions)</a></small></h4>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Settings Used
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
        <pre>{{=hdr}}</pre>
      </div>
    </div>
  </div>
</div>


{{=TABLE(*[TR(*rows) for rows in aln_tbl], _class='alignment-metrics table table-bordered table-striped')}}
